<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="FProjectConnectionString" connectionString="Data Source=BLAKE-PC;Initial Catalog=FProject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages theme="DarkGrey" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Blake Stiller &lt;techwindsor@gmail.com&gt;">
        <network enableSsl="true" host="smtp.gmail.com" userName="techwindsor" password="sillyfish" port="465" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>